

/* 🌐 Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  /* font-family: 'Segoe UI', sans-serif; */
  background-color: #ffffff;
  color: #1d1d1f;
  line-height: 1.6;
  font-family: 'Nexa Light', sans-serif;
}

/* 📦 Page Container */
.durinho-wrapper {
  width: 100%;
  /* padding: 0; */
  /* margin: 0; */
}

.durinho-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 05px;
  padding-left: 10px;
  padding-right: 10px;
  /* padding-top:0px; */
  /* max-width: 1400px; */
  margin: 0 ;
}

/* === Left === */
.durinho-left {
  flex: 1 1 50%;
  min-width: 220px;
  position: relative;
}



/* .timer-overlay {
  margin-top: 10px;
  font-size: 18px;
  background: #f7f7f7;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
  font-weight: 500;
} */



.video-wrapper {
  position: relative;
  border-radius: 36px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
  margin-left:8px;
  width: 98%;
  height: 64vh;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  border: none;
  display: block;
}

.timer-overlay {
  position: absolute;
  top: 12px;
  right: 12px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 3px 10px;
  font-size: 21px;
  font-weight: 500;
  border-radius: 20px;



      /* z-index: 1; */
    color: #fff;
    background-color: #565353a8;
    border-radius: 10px;
    /* justify-content: flex-start; */
    /* align-items: center; */
    width: auto;
    /* min-width: 290px; */
    /* padding: 10px 15px; */
    /* display: flex */
/* ;
    position: relative; */
}

.tokens-left {
  font-size: 22px;
  font-style: normal ;
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 13px;
  color: #1d1d1f;
}

.token-bar {
  height: 17px;
  width: 90%;
  background: #ffffff;
  border-radius: 10px;
  border: #e99289 1px solid;
  overflow: hidden;
  margin-top: 1px;
}

.token-bar .filled {
  height: 100%;
  background: linear-gradient(to right, #e99289, #7e7cda);
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

/* === Right === */
.durinho-right {
  flex: 1 1 49%;
  /* background: red; */
  border-radius: 16px;
  padding: 0px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1px;
  justify-content:space-between;
  flex-wrap: wrap;
}

.pMain{
   display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.profile img {
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.profile .label {
  font-size: 20px;
  color: #777;
}

.publish {
  /* text-align: right; */
  display: flex;
  flex-direction: column;
  font-size: 17px;
  color: #777;
  margin-right: 10px;
}

.publish strong {
  font-size: 26px;
  font-weight: 400;
  color: #000;
}


.name-block{
  align-items: center;
 
}
.name-block h3 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 29px;
  font-weight: 600;
}

.name-block p {text-align: center;
  font-size: 22px;
  color: #717071;
}








.token-info {
  display: flex;
  justify-content: space-around;
  /* gap: 10px; */
  flex-wrap: wrap;
}

.token-info p{
  font-size: 27px;
  /* color: #717071; */
}

.token-info p{
  font-size: 17px;
  color: #717071;
}

.price {
  font-size: 43px;
  text-align: center;
  /* color: #fd0000;
   */
    -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#f1b371, #9853ec);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
}

.buy-durinho {
  
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 10px;
  background: linear-gradient(to right, #f1b371, #9853ec) padding-box,
              linear-gradient(to right,#f1b371, #9853ec) border-box;
  color: #a75eff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.buy-durinho:hover {
  background: linear-gradient(to right, #f7f7f7, #f7f7f7) padding-box,
              linear-gradient(to right, #e070ff, #a3a1ff) border-box;
}



.faq-section {
  margin-top: 10px;
}


.faq-item {
  background: #f5f5f9;
  border-radius: 10px;
  margin-bottom: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: 0.2s;
}

.faq-question {
  padding: 1px;
  display: flex;
  justify-content: space-between;
  /* font-weight: 00; */
  background: #f5f5f9;
}

.faq-answer {
  padding: 0 16px 16px;
  font-size: 3px;
  color: #555;
}

/* === Responsive === */
@media (max-width: 768px) {
  .durinho-container {
    flex-direction: column;
    padding: 16px;
  }

  .token-info {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .profile {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .publish {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .durinho-right {
    padding: 20px;
  }

  .buy-durinho {
    font-size: 14px;
    padding: 10px;
  }

  .price {
    font-size: 24px;
  }
}



.header {
  background: linear-gradient(to right, #e99289, #9352ee);
  /* padding: 23px 20px; */
  height: 90px;
  /* border-radius: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  gap: 16px;
  color: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  flex-wrap: wrap;
  text-align: center;
}

.header h1 {
  font-size: 2.5vw;
  font-weight:630 ;
  /* letter-spacing: 0.5px; */
  font-family:'Nexa', sans-serif;
  /* font-family: 'Euclid Regular'; */
 /* font-family: 'Higher Jump' sans-serif; */
}


@media (max-width: 768px) {.header h1 {
  font-size: 5.9vw;
  font-weight: 700;
  letter-spacing: 0.5px;
}}

.header-logo {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  float: center;
  text-align: center;
  justify-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Responsive */
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }

  .header h1 {
    font-size: 22px;
  }
}


















































.faq-item {
  background-color: #f5f5f7;
  border-radius: 1.2rem;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  /* transition: box-shadow 0.3s ease; */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.02); */
}

.faq-item:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-text {
  font-weight: 600;
  font-size: 23px;
  color: #1d1d1f;
  flex-grow: 1;
  margin-right: 1rem;
}

/* Arrow icon styling */
.faq-arrow {
  width: 24px;
  height: 24px;
  transition: transform 1.0s ease;
}

/* Rotate when open */
.faq-item.open .faq-arrow {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.0s ease, opacity 1.0s ease;
  opacity: 0;
}

.faq-answer.show {
  max-height: 300px;
  opacity: 1;
  margin-top: 0.8rem;
  /* color: #3f4349; */
  color: #1d1d1f;
  font-size: 25px;
  line-height: 1.6;
   font-weight: 600;
}



































.fto-button-border-gradient {
  padding: 2px;
  border-radius: 3.2vw;
  /* margin-left:4vw; */

  background: linear-gradient(to right, #f2b371 30%, #db8ce2 70%);
}

/* Inner button wrapper */
.fto-button-wrappr {
  background-color: #ffffff;
  border-radius: 3.2vw;
  padding: 0.05vw;
  padding-left:1vw;
  padding-right:1vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main button style */
.button {
  z-index: 10;
  color: #080808;
  background-color: #ffffff;


  background-image: linear-gradient(93deg, #ed9585, #8d4df5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;


  border-radius: 3.2vw;
  margin: 0 0.5vw;
  
  padding: 0.9vw 0.7vw;
  font-weight: 900;
  transition: background-color 0.3s;
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

/* Margin top utility */
.mt-80 {
  margin-top: 0px;
}

/* Border radius utility */
.bdr {
  border-radius: 3.2vw;
}

/* Hide on mobile */
.m-hide {
  display: block;
}



.w-button {
  /* padding: 0; */
  background-color: #ffffff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

/* Bold text inside button */
.bold-text-2 {
  font-weight: bold;
  font-size: 24px;
  /* background-image: linear-gradient(93deg, #ed9585, #8d4df5); */
}






































/* 


.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(60px); 
  background: rgba(0, 0, 0, 0.3); 
  z-index: 9998;
  transition: opacity 0.3s ease;

  
} */














































































/* .video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
} */

.video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #000;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-button {
  position: absolute;
  font-size: 60px;
  color: white;
  background-color: rgba(0,0,0,0.6);
  padding: 05px 28px;
  border-radius: 55%;
  z-index: 3;
  transition: transform 0.2s;
}

.play-button:hover {
  transform: scale(1.1);
}

.video-element {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}



















































.token-infoo {
  background-color: #fafafa;
  padding: 50px 50px !important;
}

/* === Tablets === */
@media (max-width: 768px) {
  .token-infoo {
    padding: 80px 40px !important;
  }
}

/* === Laptops / Small Desktops === */
@media (max-width: 1054px) {
  .token-infoo {
    padding: 15px 5px !important;
  }
}

@media (min-width: 1430px) {
  .token-infoo {
    padding: 15px 15px !important;
  }
}

/* === Desktops & Large Screens === */
@media (min-width: 1050px) {
  .token-infoo {
    padding: 15px 14px !important; 
    font-size: 10px;
  }
}


@media (min-width: 1450px) {
  .token-infoo {
    padding: 15px 65px !important; /* Optional override */
    /* font-size: 60px; */
  }
}



